*.ipynb_checkpoints/
.vscode/
*pyc

checkpoints/

dataset/.ipynb_checkpoints/
dataset/bertvocab/v1/
dataset/bertvocab/v3/
dataset/bertvocab/*.txt
dataset/Cholec80-VQA
dataset/EndoVis-18-VQA
dataset/VQA-Med
dataset/*.ipynb

depricated/
extended_work/
MEDVQA/
my-model/

mob_rapid_prototyping.py
prototyping.py
env.yaml
Untitled.ipynb